(
    config_list: [
        (
            name: "Panel",
            anchor: Top,
            anchor_gap: false,
            layer: Top,
            keyboard_interactivity: OnDemand,
            size: XS,
            output: All,
            background: ThemeDefault,
            plugins_center: Some([
                "fun.wmde.AppletTime",
            ]),
            plugins_wings: Some((
                [],
                [
                    "fun.wmde.AppletInputSources",
                    "fun.wmde.AppletStatusArea",
                    "fun.wmde.AppletTiling",
                    "fun.wmde.AppletAudio",
                    "fun.wmde.AppletNetwork",
                    "fun.wmde.AppletBattery",
                    "fun.wmde.AppletNotifications",
                    "fun.wmde.AppletBluetooth",
                    "fun.wmde.AppletPower",

                ]
            )),
            expand_to_edges: true,
            padding: 0,
            spacing: 2,
            exclusive_zone: true,
            autohide: None,
            border_radius: 0,
            margin: 0,
            opacity: 1.0
        ),
        (
            name: "Dock",
            anchor: Bottom,
            anchor_gap: false,
            layer: Top,
            keyboard_interactivity: OnDemand,
            size: L,
            output: All,
            background: ThemeDefault,
            plugins_center: Some([
                "fun.wmde.PanelLauncherButton",
                "fun.wmde.AppList",
                "fun.wmde.AppletMinimize",
            ]),
            plugins_wings: None,
            expand_to_edges: false,
            padding: 0,
            spacing: 4,
            exclusive_zone: false,
            autohide: Some((
                wait_time: 500,
                transition_time: 200,
                handle_size: 2,
            )),
            border_radius: 160,
            margin: 0,
            opacity: 1.0
        ),
    ],
)
